---

layout: levels/level-blind-2.pug
index: 3
title: Blind

overlay_image: blind-overlay.svg


# score popup tekst en knoppen
level_score_win: Level behaald!
level_score_fail: Level gefaald...
level_score_bad: Helaas, probeer het nog een keer.
level_score_good: Goed gedaan, maar probeer het nog sneller te doen!
level_score_perfect: Perfect! Heel goed.

level_score_retry: Probeer opnieuw
level_score_next: Ga verder

---

#page-1
    h1 Webshop
    p categorieen
    p zoeken
    p account


        